* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  color: #a7a7a7;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Roboto", sans-serif;
}

:root::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

ul {
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}

hr {
  background-color: white;
  border: none;
  min-height: 1px;
}

#left-Nav {
  background-color: black;
  height: 100vh;
  padding: 0 24px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#left-Nav li {
  height: 32px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
}
#left-Nav li:hover {
  color: white;
}
#left-Nav li {
  display: flex;
  gap: 16px;
}
#left-Nav i {
  font-size: 1.5em;
}
#left-Nav #newAndLiked {
  margin-top: 2em;
}
#left-Nav #left-Nav-Upper-Wrapper {
  font-weight: 700;
}
#left-Nav #left-Nav-Upper-Wrapper .dropdown-toggle {
  padding: 6px 0;
  background-color: inherit;
  border: none;
}
#left-Nav #left-Nav-Upper-Wrapper .dropdown-toggle::after {
  display: none;
}
#left-Nav .bi-three-dots {
  color: white;
}

#left-Nav::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

#left-Nav .hovered {
  color: white;
}

main #mainNav {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main #mainNav .bi {
  font-size: 1.5em;
  color: white;
}
main #mainNav > div {
  display: flex;
  gap: 16px;
}
main #mainNav .navigation {
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}
main #mainNav #userWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  padding-left: 0;
}
main #mainNav #userWrapper img {
  border-radius: 25px;
}
main #mainNav #userWrapper span {
  color: white;
  font-weight: 700;
}
main #mainNav #userWrapper .bi-caret-down-fill {
  font-size: 1.1em;
  align-self: flex-end;
}

#ultimiAscolti {
  font-size: 1.5em;
}

#annuncio {
  display: flex;
  align-items: center;
  width: 100%;
}

#wrapperAnnuncio {
  position: relative;
  width: 100%;
}
#wrapperAnnuncio h5 {
  font-size: 0.9em;
}
#wrapperAnnuncio h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0;
}
#wrapperAnnuncio .songAuthor {
  margin-bottom: 1.25em;
}

#headingConsigliati {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5em;
}

h2 {
  margin: 0.75em 0.5em;
  font-size: 1.25em;
}

body > footer {
  padding: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.container-fluid {
  background-color: #181818;
  color: white;
}

#slider-round {
  height: 7px;
}

#slider-round .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px;
  border-radius: 9px;
}

#slider-round2 {
  height: 7px;
}

#slider-round2 .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px;
  border-radius: 9px;
}

.noUi-handle {
  display: none;
}

.noUi-base {
  background-color: #5E5E5E;
}

.btnContainer {
  display: flex;
  gap: 15px;
}

.btnAnnuncio, #hideAnnuncio {
  padding: 0 2em;
  border-radius: 25px;
  height: 40px;
  font-size: 0.9em;
}

.playBtn {
  background-color: #1ed760;
  font-weight: 700;
}

.saveBtn {
  border: 1px solid gray;
  color: white;
}

.moreBtn i {
  font-size: 1.5em;
  color: #a7a7a7;
}

#hideAnnuncio {
  text-transform: uppercase;
  background-color: inherit;
  border: transparent;
  -webkit-box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1);
  color: #a7a7a7;
  font-size: 0.75em;
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  opacity: 50%;
}

.showMore {
  background-color: inherit;
  border: none;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #a7a7a7;
}

.custCardLG {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #2a2a2a;
  font-size: 0.6em;
}
.custCardLG img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.custCardLG div {
  padding-left: 10px;
}

.custCard {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  padding: 20px;
  border-radius: 7px;
}
.custCard img {
  border-radius: 7px;
  margin-bottom: 1em;
  height: 70%;
}
.custCard h5 {
  font-size: 0.9em;
  color: #a7a7a7;
}

aside {
  background-color: black;
  height: 100vh;
}
aside #upper-right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 1.3em;
}
aside #upper-right-nav #friendsActivity {
  color: white;
  font-weight: 700;
  font-size: 0.9em;
}
@media screen and (max-width: 1450px) {
  aside #upper-right-nav #friendsActivity {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1200px) {
  aside #upper-right-nav #friendsActivity {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 1000px) {
  aside #upper-right-nav #friendsActivity {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 800px) {
  aside #upper-right-nav #friendsActivity {
    font-size: 0.4em;
  }
}
aside #upper-right-nav #activityIcon {
  display: flex;
  align-items: center;
}
aside #upper-right-nav i {
  padding-left: 10px;
}
@media screen and (max-width: 1450px) {
  aside #upper-right-nav i {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1200px) {
  aside #upper-right-nav i {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 800px) {
  aside #upper-right-nav i {
    padding-left: 5px;
  }
}
aside #main-right-nav {
  width: 100%;
}
aside #main-right-nav .profile {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
  color: #a7a7a7;
}
aside #main-right-nav .profile img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50px;
}
@media screen and (max-width: 1450px) {
  aside #main-right-nav .profile img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1100px) {
  aside #main-right-nav .profile img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
aside #main-right-nav .profile h4 {
  font-size: 1em;
  margin: 0;
  padding-bottom: 3px;
}
@media screen and (max-width: 1600px) {
  aside #main-right-nav .profile h4 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1300px) {
  aside #main-right-nav .profile h4 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1100px) {
  aside #main-right-nav .profile h4 {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 1000px) {
  aside #main-right-nav .profile h4 {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 900px) {
  aside #main-right-nav .profile h4 {
    font-size: 0.4em;
  }
}
aside #main-right-nav .profile div > p {
  font-size: 0.7em;
  margin: 0;
}
@media screen and (max-width: 1600px) {
  aside #main-right-nav .profile div > p {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 1300px) {
  aside #main-right-nav .profile div > p {
    font-size: 0.5em;
    margin-bottom: 3px;
  }
}
@media screen and (max-width: 1000px) {
  aside #main-right-nav .profile div > p {
    font-size: 0.4em;
  }
}
@media screen and (max-width: 900px) {
  aside #main-right-nav .profile div > p {
    font-size: 0.3em;
  }
}
aside #main-right-nav .profile span {
  color: white;
}
aside #main-right-nav .profile .profile-description {
  display: flex;
  align-items: center;
  margin: 0;
}
aside #main-right-nav .profile .profile-description i {
  padding-right: 5px;
}
@media screen and (max-width: 1600px) {
  aside #main-right-nav .profile .profile-description i {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1300px) {
  aside #main-right-nav .profile .profile-description i {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 900px) {
  aside #main-right-nav .profile .profile-description i {
    font-size: 0.4em;
  }
}
aside #main-right-nav .profile > p {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7em;
}
@media screen and (max-width: 1600px) {
  aside #main-right-nav .profile > p {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 1300px) {
  aside #main-right-nav .profile > p {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 1000px) {
  aside #main-right-nav .profile > p {
    font-size: 0.4em;
  }
}

#main-right-nav h4:hover {
  text-decoration: underline;
  color: white;
}
#main-right-nav div > p:hover {
  text-decoration: underline;
  color: white;
}
#main-right-nav #album:hover {
  text-decoration: underline;
  color: #a7a7a7;
}

/*# sourceMappingURL=app.css.map */
