* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  color: #a7a7a7;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Roboto", sans-serif;
}

:root::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.container-fluid {
  padding: 0;
}
.container-fluid > .row {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}

hr {
  opacity: 100%;
  background-color: #282828;
  border: none;
  min-height: 1px;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}

#left-Nav {
  background-color: black;
  height: 100vh;
  padding: 0 12px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding-bottom: 6em;
  transition: 0.2s;
}
@media screen and (min-width: 850px) {
  #left-Nav {
    padding: 0 24px;
    transition: 0.2s;
  }
}
@media screen and (min-width: 992px) {
  #left-Nav {
    padding: 0 12px;
  }
}
#left-Nav #topDropdown {
  background-color: #2a2a2a;
}
#left-Nav #topDropdown li {
  height: 32px;
  align-items: center;
  margin: 0.5em 0;
  font-size: 0.8em;
  transition: 0.2s;
  color: #a7a7a7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
#left-Nav #topDropdown li:hover {
  color: white;
  transition: 0.2s;
}
@media screen and (min-width: 900px) {
  #left-Nav #topDropdown li {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 992px) {
  #left-Nav #topDropdown li {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 1100px) {
  #left-Nav #topDropdown li {
    font-size: 0.9em;
  }
}
#left-Nav #topDropdown li {
  margin: 0;
}
#left-Nav #topDropdown li a {
  color: white;
  padding: 8px;
  margin: 0;
}
#left-Nav i {
  padding-right: 0.5em;
  font-size: 1.2em;
}
@media screen and (min-width: 900px) {
  #left-Nav i {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 992px) {
  #left-Nav i {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1100px) {
  #left-Nav i {
    font-size: 1.4em;
  }
}
#left-Nav #newAndLiked {
  margin-top: 2em;
}
@media screen and (min-width: 992px) {
  #left-Nav #newAndLiked {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 1200px) {
  #left-Nav #newAndLiked {
    font-size: 0.9em;
  }
}
#left-Nav #playlists {
  padding-bottom: 7em;
}
#left-Nav #playlists li {
  margin: 0 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 900px) {
  #left-Nav #playlists li {
    margin: 0.5em 0 !important;
  }
}
@media screen and (min-width: 992px) {
  #left-Nav #playlists li {
    margin: 0 !important;
  }
}
@media screen and (min-width: 1100px) {
  #left-Nav #playlists li {
    margin: 0.5em 0 !important;
  }
}
#left-Nav #left-Nav-Upper-Wrapper {
  font-weight: 700;
}
#left-Nav #left-Nav-Upper-Wrapper .dropdown-toggle {
  padding: 6px 0;
  background-color: inherit;
  border: none;
}
#left-Nav #left-Nav-Upper-Wrapper .dropdown-toggle::after {
  display: none;
}
#left-Nav .bi-three-dots {
  color: white;
}

#left-Nav::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

#left-Nav .hovered {
  color: white;
}

.dropdown-menu li {
  padding-left: 1.5em;
}

main {
  max-height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: 0.2s;
}
@media screen and (max-width: 767px) {
  main {
    height: 100vh;
  }
}
main #mainNav {
  width: 100%;
  position: fixed;
  padding: 8px 10px;
  z-index: 9999;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  main #mainNav {
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  main #mainNav {
    width: 66.6%;
  }
}
main #mainNav .bi {
  font-size: 1.5em;
  color: white;
}
main #mainNav > div {
  display: flex;
  align-items: center;
  gap: 16px;
}
main #mainNav #pageContentNav {
  opacity: 0%;
  color: white;
  transition: opacity 0.3s;
}
main #mainNav #pageContentNav p {
  font-size: 1.5em;
  margin-bottom: 0;
  color: white;
}
main #mainNav .navigation {
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}
main #mainNav #userWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  border: 0;
  padding-left: 5px;
}
main #mainNav #userWrapper img {
  border-radius: 25px;
}
main #mainNav #userWrapper span {
  color: white;
  font-weight: 700;
}

.dropdown-toggle::after {
  margin: 0;
}

#userDropdown {
  min-width: 230px;
  background-color: black;
  padding: 4px;
  margin: 0;
  transform: translate3d(-5px, 44px, 0px) !important;
}
#userDropdown hr {
  margin: 0;
}
#userDropdown li {
  padding: 0;
}
#userDropdown li a {
  color: white;
  padding: 8px;
}
#userDropdown li a p {
  margin-bottom: 0;
}
#userDropdown a:hover {
  background-color: #181818;
}
#userDropdown .bi-box-arrow-up-right {
  scale: 0.8;
}

.container-fluid {
  background-color: #181818;
}

main::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

#ultimiAscolti {
  font-size: 1.5em;
}

#annuncio {
  display: flex;
  align-items: center;
  margin-top: 54px;
  width: 95%;
  background: rgb(0, 0, 0);
  background: linear-gradient(25deg, rgb(0, 0, 0) 30%, rgb(24, 24, 24) 75%);
}

#wrapperAnnuncio {
  position: relative;
  width: 100%;
}
#wrapperAnnuncio h5 {
  color: white;
  font-size: 0.9em;
}
#wrapperAnnuncio h1 {
  font-size: 3em;
  color: white;
  font-weight: 700;
  margin-bottom: 0;
}
#wrapperAnnuncio .songAuthor {
  margin-bottom: 1.25em;
}

#headingConsigliati {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5em;
}

#consigliati {
  padding-bottom: 11em;
}

h2 {
  margin: 0.75em 1em;
  font-size: 1em;
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 1.25em;
  }
}

aside {
  background-color: black;
  height: 100vh;
}
aside #upper-right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 1.3em;
}
aside #upper-right-nav #friendsActivity {
  color: white;
  font-weight: 700;
  font-size: 0.9em;
}
@media screen and (max-width: 1450px) {
  aside #upper-right-nav #friendsActivity {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1200px) {
  aside #upper-right-nav #friendsActivity {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 1000px) {
  aside #upper-right-nav #friendsActivity {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 800px) {
  aside #upper-right-nav #friendsActivity {
    font-size: 0.4em;
  }
}
aside #upper-right-nav #activityIcon {
  display: flex;
  align-items: center;
}
aside #upper-right-nav i {
  padding-left: 10px;
}
@media screen and (max-width: 1450px) {
  aside #upper-right-nav i {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1200px) {
  aside #upper-right-nav i {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 800px) {
  aside #upper-right-nav i {
    padding-left: 5px;
  }
}
aside #main-right-nav {
  width: 100%;
}
aside #main-right-nav .profile {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
  color: #a7a7a7;
}
aside #main-right-nav .profile img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50px;
}
@media screen and (max-width: 1450px) {
  aside #main-right-nav .profile img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1100px) {
  aside #main-right-nav .profile img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
aside #main-right-nav .profile h4 {
  font-size: 1em;
  margin: 0;
  padding-bottom: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1600px) {
  aside #main-right-nav .profile h4 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1300px) {
  aside #main-right-nav .profile h4 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1100px) {
  aside #main-right-nav .profile h4 {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 1000px) {
  aside #main-right-nav .profile h4 {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 900px) {
  aside #main-right-nav .profile h4 {
    font-size: 0.4em;
  }
}
aside #main-right-nav .profile div > p {
  font-size: 0.7em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1600px) {
  aside #main-right-nav .profile div > p {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 1300px) {
  aside #main-right-nav .profile div > p {
    font-size: 0.5em;
    margin-bottom: 3px;
  }
}
@media screen and (max-width: 1000px) {
  aside #main-right-nav .profile div > p {
    font-size: 0.4em;
  }
}
@media screen and (max-width: 900px) {
  aside #main-right-nav .profile div > p {
    font-size: 0.3em;
  }
}
aside #main-right-nav .profile span {
  color: white;
}
aside #main-right-nav .profile .profile-description {
  display: flex;
  align-items: center;
  margin: 0;
}
aside #main-right-nav .profile .profile-description i {
  padding-right: 5px;
}
@media screen and (max-width: 1600px) {
  aside #main-right-nav .profile .profile-description i {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1300px) {
  aside #main-right-nav .profile .profile-description i {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 900px) {
  aside #main-right-nav .profile .profile-description i {
    font-size: 0.4em;
  }
}
aside #main-right-nav .profile > p {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7em;
}
@media screen and (max-width: 1600px) {
  aside #main-right-nav .profile > p {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 1300px) {
  aside #main-right-nav .profile > p {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 1000px) {
  aside #main-right-nav .profile > p {
    font-size: 0.4em;
  }
}

#main-right-nav h4:hover {
  text-decoration: underline;
  color: white;
}
#main-right-nav div > p:hover {
  text-decoration: underline;
  color: white;
}
#main-right-nav #album:hover {
  text-decoration: underline;
  color: #a7a7a7;
}

body > footer {
  padding: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 99;
}

footer .container-fluid {
  border-top: 1px solid #282828;
  height: 100px;
  transition: 0.2s;
}
@media screen and (max-width: 992px) {
  footer .container-fluid {
    height: 80px;
    transition: 0.2s;
  }
}

#playerRow {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  #playerRow i {
    font-size: 1.2em;
  }
}
#playerRow i {
  transition: 0.2s;
}
#playerRow i:hover {
  color: white;
  transition: 0.2s;
}
#playerRow #playBtnPlayer {
  color: white;
}
#playerRow #playBtnPlayer i {
  font-size: 2.5em;
}
@media screen and (max-width: 992px) {
  #playerRow #playBtnPlayer i {
    font-size: 2em;
  }
}

#playerRowLeft {
  width: 80%;
  height: 100%;
}
#playerRowLeft #playerImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.25em;
}
#playerRowLeft div img {
  max-width: 60px;
}
@media screen and (max-width: 992px) {
  #playerRowLeft div img {
    max-width: 50px;
  }
}
#playerRowLeft div h5 {
  font-size: 0.7em;
  margin: 0;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.2s;
}
#playerRowLeft div h5:hover {
  text-decoration: underline;
  transition: 0.2s;
}
@media screen and (min-width: 900px) {
  #playerRowLeft div h5 {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 992px) {
  #playerRowLeft div h5 {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 1400px) {
  #playerRowLeft div h5 {
    font-size: 1em;
  }
}
#playerRowLeft div p {
  font-size: 0.5em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.2s;
}
@media screen and (min-width: 900px) {
  #playerRowLeft div p {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 992px) {
  #playerRowLeft div p {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 1400px) {
  #playerRowLeft div p {
    font-size: 0.8em;
  }
}

#playerCenter {
  width: 80%;
}

#playerRight {
  justify-content: flex-end !important;
  transition: 0.2s;
}
@media screen and (min-width: 1200px) {
  #playerRight {
    margin-right: 25px;
  }
}
#playerRight div {
  margin-right: 5px;
}
@media screen and (min-width: 1200px) {
  #playerRight div {
    margin-right: 0;
  }
}

#slider-round {
  height: 7px;
  width: 80%;
}

#slider-round .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px;
  border-radius: 9px;
}

#slider-round2 {
  height: 7px;
  margin-bottom: 2px;
}

#volumeContainer {
  margin-left: 5px;
  min-width: 35%;
}

.fa-volume-down {
  margin-left: 20px;
  padding-bottom: 4px;
}

#slider-round2 .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px;
  border-radius: 9px;
}

.noUi-handle {
  display: none;
}

.noUi-base {
  background-color: #5e5e5e;
}

.btnContainer {
  display: flex;
  gap: 15px;
}

.btnAnnuncio, #hideAnnuncio {
  padding: 0 2em;
  border-radius: 25px;
  height: 40px;
  font-size: 0.9em;
}

.playBtn {
  background-color: #1ed760;
  font-weight: 700;
}

.saveBtn {
  border: 1px solid gray;
  color: white;
}

.moreBtn {
  height: 40px;
  padding: 0 1em;
}
.moreBtn i {
  font-size: 1.5em;
  color: #a7a7a7;
}

#hideAnnuncio {
  text-transform: uppercase;
  background-color: inherit;
  border: transparent;
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1);
  color: #a7a7a7;
  font-size: 0.75em;
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  opacity: 50%;
  transition: 0.2s;
}
#hideAnnuncio:hover {
  color: white;
  opacity: 100%;
  background-color: #383838;
  transition: 0.2s;
}

.showMore, #artistRow #artistSongRow #otherButton {
  background-color: inherit;
  border: none;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #a7a7a7;
  transition: 0.2s;
}
.showMore:hover, #artistRow #artistSongRow #otherButton:hover {
  color: white;
  transition: 0.2s;
}

#playButton {
  font-size: 1.2em;
  padding: 0.8em;
  border-radius: 50%;
  background-color: #1ed760;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#playButton:hover {
  background-color: #189945;
  transition: 0.2s;
}
#playButton i {
  margin-left: 4px;
}

#followButton {
  font-size: 0.9em;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #a7a7a7;
  border-radius: 5px;
  margin-left: 20px;
  color: white;
  transition: 0.2s;
}
#followButton:hover {
  border: 1px solid white;
}

.row a {
  padding: 0;
}

.custCardLG {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #2a2a2a;
  color: white;
  font-size: 0.4em;
  transition: 0.2s;
}
@media screen and (min-width: 992px) {
  .custCardLG {
    font-size: 0.5em;
  }
}
@media screen and (min-width: 1400px) {
  .custCardLG {
    font-size: 0.6em;
  }
}
.custCardLG img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.custCardLG div {
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.custCardLG .cardButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.2s;
}
.custCardLG .hoverCardButton {
  font-size: 1.2em;
  padding: 0.8em;
  border-radius: 50%;
  background-color: #1ed760;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border: none;
  transition: 0.2s;
  z-index: 10;
}
.custCardLG .hoverCardButton:hover {
  background-color: #189945;
  transition: 0.2s;
}
.custCardLG .hoverCardButton i {
  margin-left: 4px;
}
@media screen and (max-width: 1100px) {
  .custCardLG .hoverCardButton {
    transform: scale(0.8);
    margin-right: 20px;
  }
}
@media screen and (min-width: 1600px) {
  .custCardLG .hoverCardButton {
    transform: translateX(15px);
  }
}
.custCardLG:hover {
  background-color: #383838;
}
.custCardLG:hover .cardButtonContainer {
  opacity: 1;
  transition: 0.2s;
}

.custCard {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  padding: 10px;
  border-radius: 7px;
  position: relative;
  transition: 0.2s;
}
@media screen and (min-width: 1200px) {
  .custCard {
    padding: 20px;
  }
}
.custCard img {
  border-radius: 7px;
  margin-bottom: 1em;
  height: 70%;
}
.custCard h5 {
  font-size: 0.5em;
  color: #a7a7a7;
  transition: 0.2s;
}
@media screen and (min-width: 992px) {
  .custCard h5 {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 1400px) {
  .custCard h5 {
    font-size: 0.8em;
  }
}
.custCard h5:hover {
  text-decoration: underline;
}
.custCard h4 {
  font-size: 0.5em;
  color: white;
  transition: 0.2s;
}
@media screen and (min-width: 992px) {
  .custCard h4 {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 1400px) {
  .custCard h4 {
    font-size: 0.9em;
  }
}
.custCard h4,
.custCard h5 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custCard .hoverCardButtonOthers {
  font-size: 1.2em;
  padding: 0.8em;
  border-radius: 50%;
  background-color: #1ed760;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  opacity: 0;
  position: absolute;
  transform: scale(0.5);
  transition: 0.2;
  bottom: 40%;
  right: 5%;
}
.custCard .hoverCardButtonOthers:hover {
  background-color: #189945;
  transition: 0.2s;
}
.custCard .hoverCardButtonOthers i {
  margin-left: 4px;
}
@media screen and (min-width: 900px) {
  .custCard .hoverCardButtonOthers {
    transform: scale(0.6);
    bottom: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .custCard .hoverCardButtonOthers {
    transform: scale(0.7);
    bottom: 38%;
  }
}
@media screen and (min-width: 1400px) {
  .custCard .hoverCardButtonOthers {
    transform: scale(0.8);
    bottom: 40%;
    right: 15%;
  }
}
@media screen and (min-width: 1500px) {
  .custCard .hoverCardButtonOthers {
    transform: scale(0.8);
    bottom: 35%;
    right: 12%;
  }
}
@media screen and (min-width: 1700px) {
  .custCard .hoverCardButtonOthers {
    bottom: 31%;
    right: 10%;
  }
}
@media screen and (min-width: 1800px) {
  .custCard .hoverCardButtonOthers {
    transform: scale(1);
    bottom: 35%;
    right: 15%;
  }
}
@media screen and (min-width: 1900px) {
  .custCard .hoverCardButtonOthers {
    bottom: 33%;
  }
}
.custCard:hover {
  background-color: #383838;
}
.custCard:hover .hoverCardButtonOthers {
  opacity: 1;
  transition: 0.2s;
}

main {
  padding-bottom: 10em !important;
}

main::-webkit-scrollbar {
  display: none;
}

#annuncioAB {
  display: flex;
  align-items: flex-end;
  padding-top: 4em;
  transition: 0.2s;
}
@media screen and (min-width: 992px) {
  #annuncioAB {
    padding-top: 5.5em;
  }
}
@media screen and (min-width: 992px) {
  #annuncioAB {
    padding-top: 6.5em;
  }
}
@media screen and (min-width: 992px) {
  #annuncioAB {
    padding-top: 7.5em;
  }
}
#annuncioAB img {
  height: 200px;
}
#annuncioAB #albumAuthor {
  color: white;
  font-weight: 700;
}
#annuncioAB a:hover {
  text-decoration: underline;
}

#wrapperAnnuncioAB {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 80%;
  height: 180px;
  padding: 16px 0;
}
#wrapperAnnuncioAB h5 {
  color: white;
  margin-left: 0.5em;
  font-size: 0.8em;
  transition: 0.2s;
}
@media screen and (min-width: 1200px) {
  #wrapperAnnuncioAB h5 {
    font-size: 1em;
    margin-bottom: 1em;
  }
}
#wrapperAnnuncioAB h1 {
  color: white;
  font-size: 3.2em;
  font-weight: 700;
  margin-bottom: 0.4em;
  transition: 0.2s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1200px) {
  #wrapperAnnuncioAB h1 {
    font-size: 3.6em;
  }
}
#wrapperAnnuncioAB #albumCredits {
  display: flex;
  align-items: center;
  font-size: 0.7em;
}
#wrapperAnnuncioAB #albumCredits img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
#wrapperAnnuncioAB #albumCredits h5,
#wrapperAnnuncioAB #albumCredits p {
  color: white;
  margin: 0;
}
#wrapperAnnuncioAB #albumCredits #albumAuthor {
  margin-left: 10px;
}
#wrapperAnnuncioAB #albumCredits .dot {
  margin: 0 3px;
}
#wrapperAnnuncioAB #albumCredits #albumLength {
  color: #a7a7a7;
}

#albumRow {
  padding: 0;
  margin: 0;
  margin-bottom: 3em;
}
#albumRow .col {
  margin: 0;
  padding: 0;
}
#albumRow .row {
  margin: 0;
  padding: 0;
}
#albumRow #albumButtonContainer {
  padding: 1.5em 0 1.5em 2em;
  display: flex;
  align-items: center;
}
#albumRow #albumButtonContainer > i {
  font-size: 1.7em;
  color: #a7a7a7;
  margin-left: 0.8em;
  transition: 0.2s;
}
#albumRow #albumButtonContainer > i:hover {
  color: white;
  transition: 0.2s;
}
#albumRow #innerRowContainer {
  padding-left: 3.5em;
  font-size: 0.9em;
  color: #a7a7a7;
}
#albumRow #innerRowContainer #hashtag {
  margin-right: 15px;
  font-size: 1.1em;
}
#albumRow #innerRowContainer #counterHeader,
#albumRow #innerRowContainer #timeHeader {
  display: flex;
  justify-content: center;
}
#albumRow #innerRowContainer hr {
  width: 95%;
  margin-top: 0.4em;
  margin-bottom: 1em;
}
#albumRow .albumSongItem {
  border-radius: 10px;
  align-items: center;
  transition: 0.1s;
  padding: 0.5em 0 0.5em 3.15em;
}
#albumRow .albumSongItem:hover {
  background-color: #383838;
  color: white;
  transition: 0.1s;
}
#albumRow .albumSongItem .firstItem {
  display: flex;
  align-items: center;
}
#albumRow .albumSongItem .firstItem > p {
  color: white;
  margin-right: 15px;
  margin-bottom: 0;
}
#albumRow .albumSongItem .firstItem h3 {
  color: white;
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#albumRow .albumSongItem .firstItem div > p {
  margin-bottom: 0;
  font-size: 0.8em;
  color: #a7a7a7;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#albumRow .albumSongItem .listens,
#albumRow .albumSongItem .length {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
}
#albumRow .albumSongItem .listens > p,
#albumRow .albumSongItem .length > p {
  margin-bottom: 0;
}

#trackListContainer {
  margin-bottom: 10em;
}

main {
  padding: 0 0 8em 0 !important;
}

#annuncioAR {
  padding: 15em 0 1.5em 1em;
  background-size: cover;
  background-position: top;
  transition: 0.2s;
}
@media screen and (min-width: 1200px) {
  #annuncioAR {
    padding: 17.5em 0 1.5em 1em;
  }
}
@media screen and (min-width: 1400px) {
  #annuncioAR {
    padding: 20em 0 1.5em 1em;
  }
}
#annuncioAR #verification {
  display: flex;
  align-items: center;
}
#annuncioAR #verification i {
  font-size: 1.4em;
  color: #0d6efd;
}
#annuncioAR #verification p {
  color: white;
  margin: 0;
  margin-left: 10px;
  font-size: 0.9em;
}
#annuncioAR h1 {
  color: white;
  font-weight: 900;
  font-size: 5em;
  margin-bottom: 0.2em;
}
#annuncioAR > p {
  color: white;
  margin: 0;
}

#artistRow {
  margin: 0 !important;
}
#artistRow .col {
  padding: 0;
}
#artistRow #artistButtonContainer {
  padding: 1.5em 0 1.5em 2em;
  display: flex;
  align-items: center;
}
#artistRow #artistButtonContainer .bi-three-dots {
  color: #a7a7a7;
  font-size: 1.5em;
  margin-left: 20px;
}
#artistRow #artistButtonContainer .bi-three-dots:hover {
  color: white;
}
#artistRow #artistSongRow h4 {
  color: white;
  font-size: 1.2em;
  font-weight: 900;
  padding-left: 2em;
  margin-bottom: 1em;
}
#artistRow #artistSongRow #songContainer {
  margin-left: 3em;
  padding: 0 10px;
  border-radius: 5px;
  color: #a7a7a7;
  display: flex;
  align-items: center;
}
#artistRow #artistSongRow #songContainer:hover {
  background-color: #383838;
  transition: 0.2s;
}
#artistRow #artistSongRow #songContainer #firstSongData {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#artistRow #artistSongRow #songContainer #firstSongData img {
  width: 30px;
  margin: 7px 15px;
}
@media screen and (min-width: 992px) {
  #artistRow #artistSongRow #songContainer #firstSongData img {
    width: 35px;
  }
}
#artistRow #artistSongRow #songContainer #firstSongData p {
  font-size: 0.6em;
  color: white;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.2s;
}
@media screen and (min-width: 992px) {
  #artistRow #artistSongRow #songContainer #firstSongData p {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 1200px) {
  #artistRow #artistSongRow #songContainer #firstSongData p {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 1400px) {
  #artistRow #artistSongRow #songContainer #firstSongData p {
    font-size: 0.9em;
  }
}
#artistRow #artistSongRow #songContainer > p {
  font-size: 0.6em;
  text-align: right;
  width: 25%;
  margin: 0;
  transition: 0.2s;
}
@media screen and (min-width: 992px) {
  #artistRow #artistSongRow #songContainer > p {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 1200px) {
  #artistRow #artistSongRow #songContainer > p {
    font-size: 0.8em;
  }
}
#artistRow #artistSongRow #otherButton {
  margin-top: 1.5em;
  font-size: 0.7em;
  font-weight: 900;
  padding-left: 4em;
}
@media screen and (min-width: 1400px) {
  #artistRow #artistSongRow #otherButton {
    font-size: 0.85em;
  }
}
#artistRow #artistSongRow #otherButton:hover {
  color: white !important;
}
#artistRow #artistSongRow #currentArtistContainer h4 {
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 1em;
}
#artistRow #artistSongRow #currentArtistContainer #currentArtist {
  display: flex;
  align-items: center;
  padding-left: 2.5em;
}
#artistRow #artistSongRow #currentArtistContainer #currentArtist img {
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
  transition: 0.2s;
}
@media screen and (min-width: 992px) {
  #artistRow #artistSongRow #currentArtistContainer #currentArtist img {
    width: 55px;
  }
}
@media screen and (min-width: 1200px) {
  #artistRow #artistSongRow #currentArtistContainer #currentArtist img {
    width: 60px;
  }
}
@media screen and (min-width: 1400px) {
  #artistRow #artistSongRow #currentArtistContainer #currentArtist img {
    width: 70px;
  }
}
#artistRow #artistSongRow #currentArtistContainer #currentArtist #asideSongTextContainer h3 {
  color: white;
  font-size: 0.6em;
  transition: 0.2s;
}
@media screen and (min-width: 992px) {
  #artistRow #artistSongRow #currentArtistContainer #currentArtist #asideSongTextContainer h3 {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 1200px) {
  #artistRow #artistSongRow #currentArtistContainer #currentArtist #asideSongTextContainer h3 {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 1400px) {
  #artistRow #artistSongRow #currentArtistContainer #currentArtist #asideSongTextContainer h3 {
    font-size: 1em;
  }
}
#artistRow #artistSongRow #currentArtistContainer #currentArtist #asideSongTextContainer p {
  color: #a7a7a7;
  font-size: 0.7em;
  transition: 0.2s;
}
@media screen and (min-width: 1400px) {
  #artistRow #artistSongRow #currentArtistContainer #currentArtist #asideSongTextContainer p {
    font-size: 0.8em;
  }
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-toggle1 {
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #282828;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 50;
  top: 68px;
  left: 36px;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  bottom: 29px;
  right: -154px;
  background-color: #282828;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {
  background-color: #3e3e3e;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dopperRadius {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.dopperRadius li hr {
  background-color: #3e3e3e;
  margin: 0 4px;
}/*# sourceMappingURL=app.css.map */