main {
  max-height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding-bottom: 10em !important;

  #mainNavB {
    width: 58.33%;
    position: fixed;
    padding: 16px 10px;

    @include row;
    align-items: center;
    justify-content: space-between;
    .bi {
      font-size: 1.5em;
      color: $c-text-primary;
    }
    > div {
      display: flex;
      gap: 16px;
    }
    .navigation {
      border: none;
      border-radius: 50%;
      background-color: $bg-buttons-subdued;
    }
    #userWrapper {
      @include row;
      align-items: center;
      gap: 8px;
      background-color: $bg-buttons-default;
      border-radius: 25px;
      padding-left: 0;
      img {
        border-radius: 25px;
      }
      span {
        color: $c-text-primary;
        font-weight: 700;
      }
      .bi-caret-down-fill {
        font-size: 1.1em;
        align-self: flex-end;
      }
    }
  }
}

main::-webkit-scrollbar {
  display: none;
}

#annuncioAB {
  display: flex;
  align-items: flex-end;
  padding-top: 4.5em !important;

  img {
    height: 200px;
  }
  #albumAuthor {
    font-weight: 700;
  }
  a:hover {
    text-decoration: underline;
  }
}

#wrapperAnnuncioAB {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 180px;
  padding: 16px 0;
  h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h5 {
    margin-left: 0.5em;
    font-size: 0.7em;
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.6em;
  }

  #albumCredits {
    display: flex;
    align-items: center;
    font-size: 0.7em;

    img {
      width: 25px;
      height: 25px;
      border-radius: 50px;
    }

    h5,
    p {
      margin: 0;
    }

    #albumAuthor {
      margin-left: 10px;
    }

    .dot {
      margin: 0 3px;
    }

    #albumLength {
      color: $c-text-subdued;
    }
  }
}

#albumRow {
  padding: 0;
  margin: 0;
  margin-bottom: 3em;

  .col {
    margin: 0;
    padding: 0;
  }

  .row {
    margin: 0;
    padding: 0;
  }

  #albumButtonContainer {
    padding: 1.5em 0 1.5em 2em;

    display: flex;
    align-items: center;

    > i {
      font-size: 1.7em;
      color: $c-text-subdued;
      margin-left: 0.8em;
    }

    #playButton {
      font-size: 1.7em;
      background-color: $theme-primary;
      transition: 0.2s;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #189945;
        transition: 0.2s;
      }
    }
  }

  #innerRowContainer {
    padding-left: 3.5em;
    font-size: 0.9em;
    color: $c-text-subdued;

    #hashtag {
      margin-right: 15px;
      font-size: 1.1em;
    }

    #counterHeader,
    #timeHeader {
      display: flex;
      justify-content: center;
    }
    hr {
      width: 95%;
      margin-top: 0.4em;
      margin-bottom: 1em;
    }
  }

  .albumSongItem {
    align-items: center;

    padding: 0.5em 0 0.5em 50.4px;

    &:hover {
      background-color: #383838;
      color: white;
    }

    .firstItem {
      display: flex;
      align-items: center;

      > p {
        margin-right: 15px;
        margin-bottom: 0;
      }

      h3 {
        font-size: 0.9em;
        font-weight: 400;
        margin-bottom: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      div > p {
        margin-bottom: 0;
        font-size: 0.8em;
        color: $c-text-subdued;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .listens,
    .length {
      display: flex;
      justify-content: center;
      font-size: 0.8em;

      > p {
        margin-bottom: 0;
      }
    }
  }
}
