main {
  padding: 0 0 8em 0 !important;
}

#annuncioAR {
  padding: 15em 0 1.5em 1em;
  background-size: cover;
  background-position: top;
  transition: 0.2s;

  @media screen and (min-width: 1200px) {
    padding: 17.5em 0 1.5em 1em;
  }
  @media screen and (min-width: 1400px) {
    padding: 20em 0 1.5em 1em;
  }

  #verification {
    display: flex;
    align-items: center;

    i {
      font-size: 1.4em;
      color: #0d6efd;
    }

    p {
      color: $c-text-primary;
      margin: 0;
      margin-left: 10px;

      font-size: 0.9em;
    }
  }

  h1 {
    color: $c-text-primary;
    font-weight: 900;
    font-size: 5em;
    margin-bottom: 0.2em;
    transition: all 0.2s;
    @media screen and (max-width: 576px) {
      font-size: 4em;
    }
    @media screen and (max-width: 400px) {
      font-size: 3em;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  > p {
    color: $c-text-primary;
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 0;
  }
}

#artistRow {
  margin: 0 !important;
  .col {
    padding: 0;
  }

  #artistButtonContainer {
    padding: 0.5em 1em;

    display: flex;
    align-items: center;

    .bi-three-dots,
    .bi-three-dots-vertical {
      color: $c-text-subdued;
      font-size: 1.5em;
      margin-left: 20px;

      &:hover {
        color: $c-text-primary;
      }
    }
    @media screen and (max-width: 768px) {
      justify-content: space-between;
    }
  }

  #artistSongRow {
    padding: 0;
    h4 {
      color: $c-text-primary;
      font-size: 1.2em;
      font-weight: 900;
      margin-bottom: 1em;
    }
    @media screen and (max-width: 768px) {
      padding: 0 1em;
      div {
        padding-left: 0;
      }
    }

    #songContainer {
      padding: 0 10px;
      border-radius: 5px;
      color: $c-text-subdued;
      display: flex;
      align-items: center;

      p {
        font-size: 0.6em;
        color: $c-text-primary;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: 0.2s;

        @media screen and (max-width: 768px) {
          font-size: 1em;
        }

        @media screen and (max-width: 500px) {
          font-size: 0.8em;
        }

        @media screen and (max-width: 400px) {
          font-size: 0.7em;
        }

        @media screen and (min-width: 992px) {
          font-size: 0.7em;
        }
        @media screen and (min-width: 1200px) {
          font-size: 0.8em;
        }
        @media screen and (min-width: 1400px) {
          font-size: 0.9em;
        }
      }

      &:hover {
        background-color: #383838;
        transition: 0.2s;
      }

      .songData {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 30px;
          margin: 7px 15px;
          @media screen and (min-width: 992px) {
            width: 35px;
          }
          @media screen and (max-width: 768px) {
            width: 50px;
          }
        }
        @media screen and (max-width: 768px) {
          padding: 0;
        }
      }

      > p {
        font-size: 0.6em;
        text-align: right;
        width: 25%;
        margin: 0;
        transition: 0.2s;

        @media screen and (min-width: 992px) {
          font-size: 0.7em;
        }
        @media screen and (min-width: 1200px) {
          font-size: 0.8em;
        }
      }
      @media screen and (max-width: 768px) {
        margin-left: 0;
        padding: 0;
      }
    }

    #otherButton {
      @extend .showMore;
      margin-top: 1.5em;
      font-size: 0.7em;
      font-weight: 900;
      padding-left: 4em;

      @media screen and (min-width: 1400px) {
        font-size: 0.85em;
      }

      &:hover {
        color: $c-text-primary !important;
      }
    }

    #currentArtistContainer {
      h4 {
        font-size: 1.2em;
        font-weight: 900;
        margin-bottom: 1em;
      }

      #currentArtist {
        display: flex;
        align-items: center;
        padding-left: 2.5em;
        @media screen and (max-width: 768px) {
          padding-left: 0;
          margin: 1em 0;
        }

        img {
          width: 50px;
          border-radius: 50px;
          margin-right: 10px;
          transition: 0.2s;

          @media screen and (min-width: 992px) {
            width: 55px;
          }
          @media screen and (min-width: 1200px) {
            width: 60px;
          }
          @media screen and (min-width: 1400px) {
            width: 70px;
          }
        }
        #asideSongTextContainer {
          h3 {
            color: $c-text-primary;
            font-size: 0.6em;
            transition: 0.2s;

            @media screen and (min-width: 992px) {
              font-size: 0.7em;
            }
            @media screen and (min-width: 1200px) {
              font-size: 0.9em;
            }
            @media screen and (min-width: 1400px) {
              font-size: 1em;
            }
            @media screen and (max-width: 768px) {
              font-size: 1em;
            }
            @media screen and (max-width: 400px) {
              font-size: 0.8em;
            }
          }

          p {
            color: $c-text-subdued;
            font-size: 0.7em;
            transition: 0.2s;

            @media screen and (min-width: 1400px) {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}
#mobileNavContainer {
  .navigationMobile {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    div i {
      padding: 0 0.25em;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  #artistSongRow {
    display: flex;
  }
  #currentArtistContainer {
    order: 0;
  }
  #songListWrapper {
    order: 2;
    padding-bottom: 10em;
  }
  #artistSongRow {
    h4 {
      padding-left: 0;
    }
  }
  #otherButton {
    display: none;
  }
}
