body > footer {
  padding: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 99;
}

footer .container-fluid {
  border-top: 1px solid $border-hr;
}

#slider-round {
  height: 7px;
}

#slider-round .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px;
  border-radius: 9px;
}

// #slider-round .noUi-connect {
//     background: white;
// }

#slider-round2 {
  height: 7px;
}

#slider-round2 .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px;
  border-radius: 9px;
}

// #slider-round2 .noUi-connect {
//     background: white;
// }

.noUi-handle {
  display: none;
}

.noUi-base {
  background-color: #5e5e5e;
}

// .noUi-handle:hover {
//     #slider-round {
//         display: block;
//     }
// }
