* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  color: $c-text-subdued;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Roboto", sans-serif;
}

:root::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.container-fluid {
  padding: 0;

  > .row {
    margin: 0;
  }
}

ul {
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}

hr {
  opacity: 100%;
  background-color: $border-hr;
  border: none;
  min-height: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}
